<div *ngIf="country">
  <div class="header">
    <h1>{{country.name}}</h1>
    <img [src]="country.flags.svg">
  </div>

  <div class="details">
    <div>
      <h3>Details</h3>
      <span class="facts">
        <p><b>Region</b>: {{country.region}}<br></p>
        <p><b>Subregion</b>: {{country.subregion || "{No subregion}"}}</p>
        <p><b>Capital</b>: {{country.capital || "{No capital}"}}<br></p>
        <p><b>Area</b>: {{country.area}} km<sup>2</sup><br></p>
        <p><b>Population</b>: {{country.population}}<br></p>
        <p><b>Independent</b>: {{country.independent}}</p>
        <p><b>Landlocked</b>: {{country.landlocked}}</p>
        <p>{{country.name}} is {{(country.unMember ? '' : 'not ')}} a <b>UN Member</b></p>
      </span>
    </div>

    <div *ngIf="country.languages">
      <hr>
      <h3>Languages</h3>
      <span class="languages">
        <p *ngFor="let language of objectValues(country.languages)">
          {{language}}
        </p>
      </span>
    </div>

    
    <div *ngIf="country.borders">
      <hr>
      <h3>Borders</h3>
      <span class="borders">
        <p *ngFor="let cca3 of country.borders">
          <a routerLink="/Country/{{cca3}}">
            {{borders[cca3] || cca3}}
          </a>
        </p>
      </span>
    </div>
  </div>

</div>

<div *ngIf="!country">
  <div class="header"><h1>Unable to find the country</h1></div>
</div>
